Your project must use 2 or more sources of data. We recommend the following sites to use as sources of data:

* [data.world](https://data.world/)

* [Kaggle](https://www.kaggle.com/)

You can also use APIs or data scraped from the web. However, get approval from your instructor first. Again, there is only a week to complete this!

## Data Cleanup & Analysis

Once you have identified your datasets, perform ETL on the data. Make sure to plan and document the following:

* The sources of data that you will extract from.

* The type of transformation needed for this data (cleaning, joining, filtering, aggregating, etc).

* The type of final production database to load the data into (relational or non-relational).

* The final tables or collections that will be used in the production database.

You will be required to submit a final technical report with the above information and steps required to reproduce your ETL process.

## Project Report

At the end of the week, your team will submit a Final Report that describes the following:

* **E**xtract: your original data sources and how the data was formatted (CSV, JSON, MySQL, etc).

* **T**ransform: what data cleaning or transformation was required.

* **L**oad: the final database, tables/collections, and why this was chosen.

Please upload the report to Github and submit a link to Bootcampspot.

In [1]:
# first source is from [data.world](https://data.world/)

#https://data.world/noaa/severe-weather-data-hail-2018
#about the data
#The Severe Weather Data Inventory (SWDI) is an integrated database 
#of severe weather records for the United States. 
#The records in SWDI come from a variety of sources in the NCDC archive. 
#SWDI provides the ability to search through all of these data to 
#find records covering a particular time period and geographic region, 
#and to download the results of your search in a variety of formats.

In [2]:
# second source is from [data.world](https://data.world/)

#https://data.world/noaa/severe-weather-data-hail-2018
#about the data
#The Severe Weather Data Inventory (SWDI) is an integrated database 
#of severe weather records for the United States. 
#The records in SWDI come from a variety of sources in the NCDC archive. 
#SWDI provides the ability to search through all of these data to 
#find records covering a particular time period and geographic region, 
#and to download the results of your search in a variety of formats.

In [3]:
#third set
#https://www.kaggle.com/tsnowak/us-geographic-codes
#US Geographic Codes Dataset

In [4]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [5]:
# Name of the CSV file
counties = 'uszipfipscounty.csv'
hail2018 = "hail201802.csv"
hail2017 = "hail2017.csv"

In [6]:
# The correct encoding must be used to read the CSV in pandas
dfcounty = pd.read_csv(counties, encoding="ISO-8859-1")
dfhail2018 = pd.read_csv(hail2018, encoding="ISO-8859-1")
dfhail2017 = pd.read_csv(hail2017, encoding="ISO-8859-1")

In [7]:
# Preview of the DataFrame
dfcounty.head()

,zip,statename,state,countyname,countycode,fips,ansci,lat,long
0,501,New York,NY,Suffolk County,103,36103,974149,40.943554,-72.692218
1,544,New York,NY,Suffolk County,103,36103,974149,40.943554,-72.692218
2,6390,New York,NY,Suffolk County,103,36103,974149,40.943554,-72.692218
3,11701,New York,NY,Suffolk County,103,36103,974149,40.943554,-72.692218
4,11702,New York,NY,Suffolk County,103,36103,974149,40.943554,-72.692218

In [8]:
# Delete extraneous column
dfcounty.drop(['ansci','countycode'], axis=1, inplace=True)
dfcounty.head()

     zip statename state      countyname   fips        lat       long
0    501  New York    NY  Suffolk County  36103  40.943554 -72.692218
1    544  New York    NY  Suffolk County  36103  40.943554 -72.692218
2   6390  New York    NY  Suffolk County  36103  40.943554 -72.692218
3  11701  New York    NY  Suffolk County  36103  40.943554 -72.692218
4  11702  New York    NY  Suffolk County  36103  40.943554 -72.692218

In [9]:
dfcounty.count()

zip           41867
statename     41867
state         41867
countyname    41867
fips          41867
lat           41867
long          41867
dtype: int64

In [10]:
dfcounty.dtypes

zip             int64
statename      object
state          object
countyname     object
fips            int64
lat           float64
long          float64
dtype: object

In [11]:
dfhail2018.head()

,ztime,long,lat,wsrid,cellid,range,azimuth,sevprob,prob,maxsize
0,2.018020e+13,129.34744,25.74558,PODN,Z5,85,113,0,30,0.5
1,2.018020e+13,128.70164,24.87586,PODN,Y4,96,153,40,80,0.5
2,2.018020e+13,129.38126,25.73217,PODN,Z5,87,113,10,30,0.5
3,2.018020e+13,129.50145,26.01843,PODN,T5,88,101,0,10,0.5
4,2.018020e+13,129.03393,25.84804,PODN,C6,67,114,0,10,0.5

In [12]:
# Delete extraneous column
dfhail2018.drop(['azimuth','range'], axis=1, inplace=True)
dfhail2018.head()

          ztime       long       lat wsrid cellid  sevprob  prob  maxsize
0  2.018020e+13  129.34744  25.74558  PODN     Z5        0    30      0.5
1  2.018020e+13  128.70164  24.87586  PODN     Y4       40    80      0.5
2  2.018020e+13  129.38126  25.73217  PODN     Z5       10    30      0.5
3  2.018020e+13  129.50145  26.01843  PODN     T5        0    10      0.5
4  2.018020e+13  129.03393  25.84804  PODN     C6        0    10      0.5

In [13]:
dfhail2018.count()

ztime      82022
long       82022
lat        82022
wsrid      82022
cellid     82022
sevprob    82022
prob       82022
maxsize    82022
dtype: int64

In [14]:
dfhail2018.dtypes

ztime      float64
long       float64
lat        float64
wsrid       object
cellid      object
sevprob      int64
prob         int64
maxsize    float64
dtype: object

In [15]:
dfhail2017.head()

,ztime,long,lat,wsrid,cellid,range,azimuth,sevprob,prob,maxsize
0,2.017040e+13,-162.21326,22.81952,PHKI,C0,158,291,-999,-999,-999.0
1,2.017040e+13,-162.12851,22.79089,PHKI,C0,153,291,-999,-999,-999.0
2,2.017040e+13,-162.11157,22.78516,PHKI,C0,152,291,-999,-999,-999.0
3,2.017040e+13,-161.97694,22.78461,PHKI,B0,145,292,-999,-999,-999.0
4,2.017040e+13,-161.96012,22.77859,PHKI,B0,144,292,-999,-999,-999.0

In [16]:
# Delete extraneous column
dfhail2017.drop(['azimuth','range'], axis=1, inplace=True)
dfhail2017.head()

          ztime       long       lat wsrid cellid  sevprob  prob  maxsize
0  2.017040e+13 -162.21326  22.81952  PHKI     C0     -999  -999   -999.0
1  2.017040e+13 -162.12851  22.79089  PHKI     C0     -999  -999   -999.0
2  2.017040e+13 -162.11157  22.78516  PHKI     C0     -999  -999   -999.0
3  2.017040e+13 -161.97694  22.78461  PHKI     B0     -999  -999   -999.0
4  2.017040e+13 -161.96012  22.77859  PHKI     B0     -999  -999   -999.0

In [17]:
dfhail2017.count()

ztime      1048573
long       1048573
lat        1048573
wsrid      1048573
cellid     1048573
sevprob    1048573
prob       1048573
maxsize    1048573
dtype: int64

In [18]:
dfhail2017.dtypes

ztime      float64
long       float64
lat        float64
wsrid       object
cellid      object
sevprob      int64
prob         int64
maxsize    float64
dtype: object

In [19]:
#new_df = pd.merge(dfcounty, dfhail2017,  how='right', left_on=['long','lat'], right_on = ['long','lat'])

In [20]:
new_df = pd.merge(dfcounty, dfhail2017, on=['long','lat'], how='outer')
new_df

,zip,statename,state,countyname,fips,lat,long,ztime,wsrid,cellid,sevprob,prob,maxsize
0,501.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
1,544.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
2,6390.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
3,11701.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
4,11702.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
5,11703.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
6,11704.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
7,11705.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
8,11706.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
9,11707.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
10,11708.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
11,11713.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
12,11715.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
13,11716.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
14,11717.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
15,11718.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
16,11719.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
17,11720.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
18,11721.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
19,11722.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
20,11724.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
21,11725.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
22,11726.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
23,11727.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
24,11729.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
25,11730.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
26,11731.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
27,11733.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
28,11738.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
29,11739.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090410,NaN,NaN,NaN,NaN,NaN,13.411710,146.897240,2.017010e+13,PGUA,Z3,0.0,40.0,0.5
1090411,NaN,NaN,NaN,NaN,NaN,12.780040,146.903810,2.017010e+13,PGUA,R8,-999.0,-999.0,-999.0
1090412,NaN,NaN,NaN,NaN,NaN,13.083900,146.913530,2.017010e+13,PGUA,F2,-999.0,-999.0,-999.0
1090413,NaN,NaN,NaN,NaN,NaN,12.892630,146.921040,2.017010e+13,PGUA,Q1,-999.0,-999.0,-999.0
1090414,NaN,NaN,NaN,NaN,NaN,13.192090,146.931000,2.017010e+13,PGUA,Q2,-999.0,-999.0,-999.0
1090415,NaN,NaN,NaN,NaN,NaN,13.483280,146.932070,2.017010e+13,PGUA,I6,-999.0,-999.0,-999.0
1090416,NaN,NaN,NaN,NaN,NaN,13.447060,146.932080,2.017010e+13,PGUA,Z3,0.0,10.0,0.5
1090417,NaN,NaN,NaN,NaN,NaN,13.077800,146.947120,2.017010e+13,PGUA,F2,-999.0,-999.0,-999.0
1090418,NaN,NaN,NaN,NaN,NaN,13.556430,146.947220,2.017010e+13,PGUA,B4,-999.0,-999.0,-999.0
1090419,NaN,NaN,NaN,NaN,NaN,12.805820,146.948210,2.017010e+13,PGUA,R8,-999.0,-999.0,-999.0
1090420,NaN,NaN,NaN,NaN,NaN,13.483430,146.949180,2.017010e+13,PGUA,Z3,-999.0,-999.0,-999.0
1090421,NaN,NaN,NaN,NaN,NaN,13.187720,146.964880,2.017010e+13,PGUA,Q2,-999.0,-999.0,-999.0
1090422,NaN,NaN,NaN,NaN,NaN,13.594940,146.979430,2.017010e+13,PGUA,B4,-999.0,-999.0,-999.0
1090423,NaN,NaN,NaN,NaN,NaN,12.916180,146.980470,2.017010e+13,PGUA,Q1,-999.0,-999.0,-999.0
1090424,NaN,NaN,NaN,NaN,NaN,12.795750,146.980750,2.017010e+13,PGUA,R8,-999.0,-999.0,-999.0
1090425,NaN,NaN,NaN,NaN,NaN,13.483720,146.983390,2.017010e+13,PGUA,I6,-999.0,-999.0,-999.0
1090426,NaN,NaN,NaN,NaN,NaN,13.521690,147.016940,2.017010e+13,PGUA,Z3,-999.0,-999.0,-999.0
1090427,NaN,NaN,NaN,NaN,NaN,13.522120,147.034050,2.017010e+13,PGUA,Z3,-999.0,-999.0,-999.0
1090428,NaN,NaN,NaN,NaN,NaN,13.484150,147.034720,2.017010e+13,PGUA,I6,-999.0,-999.0,-999.0
1090429,NaN,NaN,NaN,NaN,NaN,13.484290,147.051820,2.017010e+13,PGUA,I6,-999.0,-999.0,-999.0
1090430,NaN,NaN,NaN,NaN,NaN,12.937660,147.056310,2.017010e+13,PGUA,M1,-999.0,-999.0,-999.0
1090431,NaN,NaN,NaN,NaN,NaN,13.484570,147.086040,2.017010e+13,PGUA,T5,-999.0,-999.0,-999.0
1090432,NaN,NaN,NaN,NaN,NaN,13.484710,147.103140,2.017010e+13,PGUA,I6,-999.0,-999.0,-999.0
1090433,NaN,NaN,NaN,NaN,NaN,13.681700,147.109830,2.017010e+13,PGUA,H4,-999.0,-999.0,-999.0
1090434,NaN,NaN,NaN,NaN,NaN,13.484840,147.120250,2.017010e+13,PGUA,I6,-999.0,-999.0,-999.0
1090435,NaN,NaN,NaN,NaN,NaN,13.684880,147.143920,2.017010e+13,PGUA,H4,-999.0,-999.0,-999.0
1090436,NaN,NaN,NaN,NaN,NaN,13.688060,147.178010,2.017010e+13,PGUA,H4,-999.0,-999.0,-999.0
1090437,NaN,NaN,NaN,NaN,NaN,13.689650,147.195050,2.017010e+13,PGUA,H4,-999.0,-999.0,-999.0
1090438,NaN,NaN,NaN,NaN,NaN,12.807490,147.233400,2.017010e+13,PGUA,A8,-999.0,-999.0,-999.0
1090439,NaN,NaN,NaN,NaN,NaN,13.657960,147.318140,2.017010e+13,PGUA,A9,-999.0,-999.0,-999.0

In [21]:
new_df.head(20)

,zip,statename,state,countyname,fips,lat,long,ztime,wsrid,cellid,sevprob,prob,maxsize
0,501.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
1,544.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
2,6390.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
3,11701.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
4,11702.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
5,11703.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
6,11704.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
7,11705.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
8,11706.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
9,11707.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
10,11708.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
11,11713.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
12,11715.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
13,11716.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
14,11717.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
15,11718.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
16,11719.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
17,11720.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
18,11721.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN
19,11722.0,New York,NY,Suffolk County,36103.0,40.943554,-72.692218,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
new_df.count()

zip             41867
statename       41867
state           41867
countyname      41867
fips            41867
lat           1090440
long          1090440
ztime         1048573
wsrid         1048573
cellid        1048573
sevprob       1048573
prob          1048573
maxsize       1048573
dtype: int64

In [23]:
new_df.describe

<bound method NDFrame.describe of              zip statename state      countyname     fips        lat  \
0          501.0  New York    NY  Suffolk County  36103.0  40.943554
1          544.0  New York    NY  Suffolk County  36103.0  40.943554
2         6390.0  New York    NY  Suffolk County  36103.0  40.943554
3        11701.0  New York    NY  Suffolk County  36103.0  40.943554
4        11702.0  New York    NY  Suffolk County  36103.0  40.943554
5        11703.0  New York    NY  Suffolk County  36103.0  40.943554
6        11704.0  New York    NY  Suffolk County  36103.0  40.943554
7        11705.0  New York    NY  Suffolk County  36103.0  40.943554
8        11706.0  New York    NY  Suffolk County  36103.0  40.943554
9        11707.0  New York    NY  Suffolk County  36103.0  40.943554
10       11708.0  New York    NY  Suffolk County  36103.0  40.943554
11       11713.0  New York    NY  Suffolk County  36103.0  40.943554
12       11715.0  New York    NY  Suffolk County  36103.0  40.943554
13       11716.0  New York    NY  Suffolk County  36103.0  40.943554
14       11717.0  New York    NY  Suffolk County  36103.0  40.943554
15       11718.0  New York    NY  Suffolk County  36103.0  40.943554
16       11719.0  New York    NY  Suffolk County  36103.0  40.943554
17       11720.0  New York    NY  Suffolk County  36103.0  40.943554
18       11721.0  New York    NY  Suffolk County  36103.0  40.943554
19       11722.0  New York    NY  Suffolk County  36103.0  40.943554
20       11724.0  New York    NY  Suffolk County  36103.0  40.943554
21       11725.0  New York    NY  Suffolk County  36103.0  40.943554
22       11726.0  New York    NY  Suffolk County  36103.0  40.943554
23       11727.0  New York    NY  Suffolk County  36103.0  40.943554
24       11729.0  New York    NY  Suffolk County  36103.0  40.943554
25       11730.0  New York    NY  Suffolk County  36103.0  40.943554
26       11731.0  New York    NY  Suffolk County  36103.0  40.943554
27       11733.0  New York    NY  Suffolk County  36103.0  40.943554
28       11738.0  New York    NY  Suffolk County  36103.0  40.943554
29       11739.0  New York    NY  Suffolk County  36103.0  40.943554
...          ...       ...   ...             ...      ...        ...
1090410      NaN       NaN   NaN             NaN      NaN  13.411710
1090411      NaN       NaN   NaN             NaN      NaN  12.780040
1090412      NaN       NaN   NaN             NaN      NaN  13.083900
1090413      NaN       NaN   NaN             NaN      NaN  12.892630
1090414      NaN       NaN   NaN             NaN      NaN  13.192090
1090415      NaN       NaN   NaN             NaN      NaN  13.483280
1090416      NaN       NaN   NaN             NaN      NaN  13.447060
1090417      NaN       NaN   NaN             NaN      NaN  13.077800
1090418      NaN       NaN   NaN             NaN      NaN  13.556430
1090419      NaN       NaN   NaN             NaN      NaN  12.805820
1090420      NaN       NaN   NaN             NaN      NaN  13.483430
1090421      NaN       NaN   NaN             NaN      NaN  13.187720
1090422      NaN       NaN   NaN             NaN      NaN  13.594940
1090423      NaN       NaN   NaN             NaN      NaN  12.916180
1090424      NaN       NaN   NaN             NaN      NaN  12.795750
1090425      NaN       NaN   NaN             NaN      NaN  13.483720
1090426      NaN       NaN   NaN             NaN      NaN  13.521690
1090427      NaN       NaN   NaN             NaN      NaN  13.522120
1090428      NaN       NaN   NaN             NaN      NaN  13.484150
1090429      NaN       NaN   NaN             NaN      NaN  13.484290
1090430      NaN       NaN   NaN             NaN      NaN  12.937660
1090431      NaN       NaN   NaN             NaN      NaN  13.484570
1090432      NaN       NaN   NaN             NaN      NaN  13.484710
1090433      NaN       NaN   NaN             NaN      NaN  13.681700
1090434      NaN       NaN   NaN             NaN      NaN  13.484840
1090435      NaN       NaN   NaN             NaN      NaN  13.684880
1090436      NaN       NaN   NaN             NaN      NaN  13.688060
1090437      NaN       NaN   NaN             NaN      NaN  13.689650
1090438      NaN       NaN   NaN             NaN      NaN  12.807490
1090439      NaN       NaN   NaN             NaN      NaN  13.657960

               long         ztime wsrid cellid  sevprob   prob  maxsize
0        -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
1        -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
2        -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
3        -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
4        -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
5        -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
6        -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
7        -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
8        -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
9        -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
10       -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
11       -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
12       -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
13       -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
14       -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
15       -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
16       -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
17       -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
18       -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
19       -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
20       -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
21       -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
22       -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
23       -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
24       -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
25       -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
26       -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
27       -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
28       -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
29       -72.692218           NaN   NaN    NaN      NaN    NaN      NaN
...             ...           ...   ...    ...      ...    ...      ...
1090410  146.897240  2.017010e+13  PGUA     Z3      0.0   40.0      0.5
1090411  146.903810  2.017010e+13  PGUA     R8   -999.0 -999.0   -999.0
1090412  146.913530  2.017010e+13  PGUA     F2   -999.0 -999.0   -999.0
1090413  146.921040  2.017010e+13  PGUA     Q1   -999.0 -999.0   -999.0
1090414  146.931000  2.017010e+13  PGUA     Q2   -999.0 -999.0   -999.0
1090415  146.932070  2.017010e+13  PGUA     I6   -999.0 -999.0   -999.0
1090416  146.932080  2.017010e+13  PGUA     Z3      0.0   10.0      0.5
1090417  146.947120  2.017010e+13  PGUA     F2   -999.0 -999.0   -999.0
1090418  146.947220  2.017010e+13  PGUA     B4   -999.0 -999.0   -999.0
1090419  146.948210  2.017010e+13  PGUA     R8   -999.0 -999.0   -999.0
1090420  146.949180  2.017010e+13  PGUA     Z3   -999.0 -999.0   -999.0
1090421  146.964880  2.017010e+13  PGUA     Q2   -999.0 -999.0   -999.0
1090422  146.979430  2.017010e+13  PGUA     B4   -999.0 -999.0   -999.0
1090423  146.980470  2.017010e+13  PGUA     Q1   -999.0 -999.0   -999.0
1090424  146.980750  2.017010e+13  PGUA     R8   -999.0 -999.0   -999.0
1090425  146.983390  2.017010e+13  PGUA     I6   -999.0 -999.0   -999.0
1090426  147.016940  2.017010e+13  PGUA     Z3   -999.0 -999.0   -999.0
1090427  147.034050  2.017010e+13  PGUA     Z3   -999.0 -999.0   -999.0
1090428  147.034720  2.017010e+13  PGUA     I6   -999.0 -999.0   -999.0
1090429  147.051820  2.017010e+13  PGUA     I6   -999.0 -999.0   -999.0
1090430  147.056310  2.017010e+13  PGUA     M1   -999.0 -999.0   -999.0
1090431  147.086040  2.017010e+13  PGUA     T5   -999.0 -999.0   -999.0
1090432  147.103140  2.017010e+13  PGUA     I6   -999.0 -999.0   -999.0
1090433  147.109830  2.017010e+13  PGUA     H4   -999.0 -999.0   -999.0
1090434  147.120250  2.017010e+13  PGUA     I6   -999.0 -999.0   -999.0
1090435  147.143920  2.017010e+13  PGUA     H4   -999.0 -999.0   -999.0
1090436  147.178010  2.017010e+13  PGUA     H4   -999.0 -999.0   -999.0
1090437  147.195050  2.017010e+13  PGUA     H4   -999.0 -999.0   -999.0
1090438  147.233400  2.017010e+13  PGUA     A8   -999.0 -999.0   -999.0
1090439  147.318140  2.017010e+13  PGUA     A9   -999.0 -999.0   -999.0

[1090440 rows x 13 columns]>

In [24]:
new_df['long'].value_counts()

-118.261862    508
-77.017229     290
-95.393037     242
-87.645455     217
-112.495534    204
-116.776117    186
-96.778424     180
-111.842250    168
-73.970187     164
-72.635648     163
-106.241424    146
-117.777207    146
-111.851080    143
-79.980451     142
-121.340441    134
-121.833996    128
-80.499137     126
-92.262000     125
-115.013812    124
-93.841000     123
-88.329000     123
-116.181197    117
-111.861980    117
-72.692218     115
-85.790000     113
-71.394917     111
-95.079000     111
-85.922000     109
-72.732916     108
-121.690622    108
              ...
-88.380930       1
-87.108630       1
-86.388820       1
-94.085850       1
-94.059170       1
-97.288630       1
-95.644190       1
-121.257090      1
-98.004300       1
-93.996560       1
-91.946680       1
-83.870190       1
-91.161350       1
-88.721250       1
-98.143000       1
-80.789490       1
-79.826510       1
-83.210510       1
-80.864900       1
-89.407180       1
-98.357000       1
-82.598400       1
-100.330050      1
-76.047650       1
-98.115760       1
-100.375770      1
-88.393420       1
-79.364770       1
-87.270780       1
-88.499590       1
Name: long, Length: 744074, dtype: int64

In [25]:
#df['Employer'] = df['Employer'].replace({'Not Employed': 'Unemployed'})
#df['Employer'].value_counts()

In [26]:
# Use pd.to_numeric() method to convert the datatype of the Amount column
#df['Amount'] = pd.to_numeric(df['Amount'])